In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
sales = pd.read_csv("sales/mergedSales.csv")
# products = pd.read_csv("disin_basic/disinfectants.csv")

In [3]:
print(sales.shape)
sales.head(3)

(10766, 7)

,Unnamed: 0,전문/일반,품명,국가,포장단위,금액(USD),year
0,0,전문,새한크롬이디티에이주사,U.K,10ML(1MCI=37MBQ)/VIAL,"26,224",2017
1,1,전문,아도스테롤(131I)주사액,JAPAN,1ML(37MBQ)/VIAL,591,2017
2,2,전문,5-에이치티피캅셀,TAIWAN,50CAP/BOTTLE,"14,000",2017

In [4]:
sales.columns

Index(['Unnamed: 0', '전문/일반', '품명', '국가', '포장단위', ' 금액(USD)', 'year'], dtype='object')

In [5]:
sales.rename(columns={' 금액(USD)':'sales', '품명':'품목명'}, inplace=True)

In [6]:
sales = sales[['전문/일반', '품목명', '국가', '포장단위', 'sales', 'year']]
sales.head(3)

  전문/일반             품목명      국가                   포장단위      sales  year
0    전문     새한크롬이디티에이주사     U.K  10ML(1MCI=37MBQ)/VIAL    26,224   2017
1    전문  아도스테롤(131I)주사액   JAPAN        1ML(37MBQ)/VIAL       591   2017
2    전문       5-에이치티피캅셀  TAIWAN           50CAP/BOTTLE    14,000   2017

In [9]:
def to_int(price):
    price = price.replace(',','')
    price = price.replace('  - ','')
    price = price.replace(' ','')
    price = price.replace('-','')
    # price = price.replace('0 0 02060202040 0', '0')
    # price = price.replace('0 0 0509010 0','0')
    # price = int(price)
    return price

In [10]:
sales['sales'] = sales.sales.apply(to_int)
print(sales.shape)
sales.head()

(10766, 6)

  전문/일반             품목명      국가                   포장단위   sales  year
0    전문     새한크롬이디티에이주사     U.K  10ML(1MCI=37MBQ)/VIAL   26224  2017
1    전문  아도스테롤(131I)주사액   JAPAN        1ML(37MBQ)/VIAL     591  2017
2    전문       5-에이치티피캅셀  TAIWAN           50CAP/BOTTLE   14000  2017
3    전문   애보트가나톤정50밀리그램   JAPAN         1000TAB/BOTTLE  104871  2017
4    전문   애보트가나톤정50밀리그램   JAPAN        10TAB/10PTP/BOX   19889  2017

In [12]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10766 entries, 0 to 10765
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전문/일반   10766 non-null  object
 1   품목명     10764 non-null  object
 2   국가      10764 non-null  object
 3   포장단위    10764 non-null  object
 4   sales   10766 non-null  object
 5   year    10766 non-null  int64
dtypes: int64(1), object(5)
memory usage: 504.8+ KB

In [13]:
sales = sales[sales['sales']!='']
sales.head()

  전문/일반             품목명      국가                   포장단위   sales  year
0    전문     새한크롬이디티에이주사     U.K  10ML(1MCI=37MBQ)/VIAL   26224  2017
1    전문  아도스테롤(131I)주사액   JAPAN        1ML(37MBQ)/VIAL     591  2017
2    전문       5-에이치티피캅셀  TAIWAN           50CAP/BOTTLE   14000  2017
3    전문   애보트가나톤정50밀리그램   JAPAN         1000TAB/BOTTLE  104871  2017
4    전문   애보트가나톤정50밀리그램   JAPAN        10TAB/10PTP/BOX   19889  2017

In [14]:
sales.shape

(10749, 6)

In [18]:
sales['year']= pd.to_datetime(sales['year'], format='%Y')

/tmp/ipykernel_8578/898717284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['year']= pd.to_datetime(sales['year'], format='%Y')

In [19]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10749 entries, 0 to 10765
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전문/일반   10749 non-null  object
 1   품목명     10747 non-null  object
 2   국가      10747 non-null  object
 3   포장단위    10747 non-null  object
 4   sales   10749 non-null  object
 5   year    10749 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 587.8+ KB

In [20]:
sales['sales'] = sales.sales.astype(int)

/tmp/ipykernel_8578/774734216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['sales'] = sales.sales.astype(int)

In [21]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10749 entries, 0 to 10765
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전문/일반   10749 non-null  object
 1   품목명     10747 non-null  object
 2   국가      10747 non-null  object
 3   포장단위    10747 non-null  object
 4   sales   10749 non-null  int64
 5   year    10749 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 587.8+ KB

In [22]:
sales.to_csv("mergedSales.csv", mode = "w")